h1{
  color: #007bff;
  background-color:#A4BC92 ;
}
/* Estilo para el formulario */
#formulario {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  border: 1px solid #007bff;
  padding: 30px;
  background-color: #F0F0F0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.subtitulo,
.titulo {
  display: flex;
  justify-content: center;
  color: #007bff;
  background-color: #F0F0F0;
  border-radius: 10px;
  border: 1px solid #007bff;
  
}

/* Estilo para los label */
.label {
  color: #007bff;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: .5rem;
  text-align: center;
}

/* Estilo para los select */
.formulario-elemento {
  color: #007bff;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #007bff;
  font-size: 16px;
}
.formulario-elemento::after{
  color: #007bff;
}
.precio {
  color: #007bff;
  display: flex;
  justify-content: center;
}
/* Estilo para el input */
.formulario-elemento[type="number"] {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #007bff;
  font-size: 16px;
  text-align: center;
}

/* Estilo para el botón */
.enviar {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #007bff;
}
.enviar:hover{
  transition: all 0.3s ease-in-out;
  color: #007bff;
  background-color: #fff;
}

/* Estilo para el ToastContainer */
.Toastify__toast-container {
  width: 300px;
}

.Toastify__toast--success {
  background-color: #28a745;
  color: #fff;
}

.Toastify__toast--error {
  background-color: #dc3545;
  color: #fff;
}
.div.button.volver{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content:center;
}
.div-volver{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}
.historial-button{
  width: 300px;
  padding:30px;
  margin-bottom:1rem;

  color: #007bff;
  background-color: #F0F0F0;
  border-radius: 10px;
  border: 1px solid #007bff;
  padding: .5rem;
  text-transform: uppercase;
  font-size: 15px;
}
.historial-button:hover{
  transition: all 0.3s ease-in-out;
  color: #F0F0F0;
  background-color:#007bff;
}

.historial-vacio{
  color: #F0F0F0;
  background-color:#007bff;
  text-transform: uppercase;
  padding:.3rem;
  border-radius: 10px;
}

.table{
  color: #007bff;
  background-color: #F0F0F0;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  align-items: center;
}
tr{
  align-items: center;
}
.table-group-divider{
  text-align: center;
}